body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    height: 100px;
    background-color: orange;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    height: 60px;
    margin-left: 16px;
}

main {
    text-align: center;
    display: flex;
    flex: 1;
}

section {
    width: calc(100% - 300px);
    background-color: rgb(255, 255, 255);
}

.background_title {
    background-image: url('./assets/img/spaghetti.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title_img {
    position: absolute;
    height: 120px;
    background-color: white;
    top: 332px;
    left: 38%;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.title_img img {
    height: 140px;
}

.restaurant_card {
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 16px;
}

.restaurant_card p {
    color: orange;
}

nav {
    margin-top: 16px;
    background-color: rgba(223, 217, 217, 0.473);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav img {
    margin-left: 16px;
    height: 32px;
}

.menu {
    margin: 24px 16px 0px;
}

.section_head {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.presentation_plate {
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
}

.presentation_plate img {
    height: 26px;
}

.presentation_plate:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.description {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.description p:last-child {
    color: rgb(194, 126, 1);
    font-weight: bold;
}

.basket_phone {
    margin-bottom: 24px;
    width: 100%;
    height: 50px;
    background-color: orange;
    border-width: 1px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    display: none;
}

.basket_phone:hover {
    background-color: rgba(255, 166, 0, 0.8);
}

.basket_card {
    width: 100%;
    height: 400px;
    background-color: rgba(243, 243, 243, 0.37);
    position: sticky;
    top: 0;
}

.bgd_1 {
    background-image: url('./assets/img/pizza.jpg');
}

.bgd_2 {
    background-image: url('./assets/img/noodles.jpg');
}

.bgd_3 {
    background-image: url('./assets/img/salad.jpg');
}

aside {
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

aside h2 {
    margin: 0;
    font-size: 26px;
}

.basket_head {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

.item_price {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item_price img {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_price button {
    border: none;
    padding-inline: 0;
    padding-block: 0;
}

.item_price span:first-child {
    width: 100px;
}

span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_basket {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.calc_price {
    height: 150px;
}

.calc_price button {
    background-color: rgb(255, 166, 0);
    border-radius: 12px;
    padding: 8px;
}

.back_btn {
    display: none;
    background-color: rgb(255, 166, 0);
    border-radius: 12px;
    padding: 8px;
}

aside button:hover {
    background-color: rgb(250, 179, 46);
}

.message {
    margin-top: 48px;
}

footer {
    height: 100px;
    background-color: orange;
}

#content_pizzas div:active:not(.description) {
    background-color: rgba(255, 166, 0, 0.2);
}
#content_noodles div:active:not(.description) {
    background-color: rgba(255, 166, 0, 0.2);
}
#content_salads div:active:not(.description) {
    background-color: rgba(255, 166, 0, 0.2);
}

@media (max-width: 760px) {
    aside {
        display: none;
    }

    .back_btn {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .basket_phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 100%;
    }

    .title_img {
        left: 60%;
    }
}

@media (max-width: 460px) {
    .title_img {
        top: 290px;
        left: 10%;
        height: 100px;
    }

    .title_img img {
        height: 120px;
    }
}