.add {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgb(255,255,255);
}

.add:hover {
    background-color: rgb(243, 243, 243);
}

.add:active {
    background-color: rgba(255, 166, 0, 0.2);
}